<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-centered">
            <div class="text-center">
                <h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
                <img data-toggle="modal" class="img-thumbnail img-responsive center-block" *ngIf="user.avatar" [src]="user.avatar">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-centered text-center">
            <p>
                <strong>Email :</strong> {{user?.email}}
            </p>

            <p>
                <strong>Mobile :</strong> {{user?.mobile}}
            </p>

            <p>
                <strong>Date Of Birth :</strong> {{user?.dateOfBirth}}
            </p>
            <p>
                <strong>Address :</strong> {{user?.address}}
            </p>

        </div>
    </div>
</div>